<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

    {{> character-header }}
    {{!-- Main Content --}}
    <section class="sheet-body">
        {{> character-stats }}
        {{> character-tabs }}
    </section>
</form>
